//function
//pxをvwに変換（スマホ用）
@function p2v($px){
  @return ($px / 750 * 100vw);
}

//pxをemに変換
@function em($size){
  @return ($size / 16 * 1em);
}

//pxをremに変換
@function rem($size){
  @return ($size / 16 * 1rem);
}

//パーセント計算
@function per($c,$p:750){
  @return ($c / $p * 100%);
}

$breakpoint: 768px;

$mainColor: #DDEEFF;

//矢印アイコン
@mixin iconR {//右
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'Material Icons'; 
	content: "keyboard_arrow_right"
}
@mixin iconL {//左
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'Material Icons'; 
	content: "keyboard_arrow_left"
}
@mixin iconU {//上
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'Material Icons'; 
	content: "keyboard_arrow_up"
}
@mixin iconD {//下
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'Material Icons'; 
	content: "keyboard_arrow_down"
}
@mixin iconD-circle {//下
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'Material Icons'; 
	content: "arrow_drop_down_circle"
}